<section data-ng-controller="HouseholdsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Households</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="household in households" data-ng-href="#!/households/{{household._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="household.created | date:'medium'"></span>
				by
				<span data-ng-bind="household.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="household.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!households.$resolved || households.length">
    	No Households yet, why don't you <a href="/#!/households/create">create one</a>?
    </div>
</section>